.DS_STORE
node_modules
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
*.OLD
*.BACKUP
*.css.map
*.js.map
.eslintcache
.history
# For environment variables you don't want to
# commit into the repo
.envrc.local
